<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="icon" type="image/png" href="img\wp10150034.png">
        <link rel="stylesheet" href="style.css" />
        <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    </head>
    <body>

        <div id="particles-js"></div>

        <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
            <form  action="/Login" method="POST" id="form">

                <div class="form-group col-12  text-white">
                    <label for="Name">Name</label>
                    <input type="text" name="userName" required class="form-control black" id="Name" placeholder="Name" />
                </div>

                <div class="form-group col-12 pt-3 col-md-12 text-white">
                    <label for="Name">Email address</label>
                    <input type="text" name="id" required class="form-control black text-black " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
                    <small id="emailHelp" class="form-text text-muted fw-bold" style="color: white !important"> We'll never share your email with anyone else. </small>
                </div>
                
                <div class="form-group col-12 pt-3 text-white">
                    <label for="PASSWORD">Password</label>
                    <input type="password" name="password" required class="form-control black " id="exampleInputPassword1" placeholder="Password" />
                </div>

                

                <div class="text-center col-12 pt-3">
                    <button type="submit" class="btn bg-success fw-bold btn-primary">Submit</button>
                </div>
            </form>
         <h5 class="msg mt-3 btn-danger"><%= message%></h5>

        </div>



        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="particles.js"></script>
        <script src="script.js"></script>
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    </body>
</html>
